body {
 margin: 1.5rem;
 background-color:;
}

main {
    margin-bottom: 10rem;
   
}


/* text styles */


a {
   
    color: black;
    
   
}

/* Header */
header {
   
}

.logo {
  
  width:50px;
  display: flex;
 
  }

  /* main */


.site-nav {
    display: flex;
    
}

.site-nav ul {
    list-style: none;
    padding-left:0;
    display: flex;
   
}

.site-nav li {
    margin-left:3rem; 
    font-size: 22px;
    align-items:baseline;
}


h1 {
    grid-area: header;
}


.main-image{
    
    width:20%;
    
}

.products {

 
    width:70%;
    
     background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 grid-area: main;
  


}

.shirts{
    display: grid;
    grid-template-areas:
    "header header header header"
    "main main . sidebar"
     "main main . sidebar"
      "main main . sidebar"
       "main main . sidebar"
        "main main . sidebar"
         "main main . sidebar"
         "main main . sidebar"
    "footer footer footer footer";

}

/* footer */

footer {
    margin-top: 3 rem;
    border-top : 1px solid black;
    

}


 aside {
    grid-area: sidebar;
 }