body {
 margin: 1.5rem;
 
}

main {
    margin-bottom: 10rem;
   
}


/* text styles */
h1 {
	font-family: "Geologica", sans-serif;
	font-weight: 600;
	font-style: normal;
}
h2 {
	font-family: "Geologica", sans-serif;
	font-weight: 400;
	font-style: normal;
    margin-left: 2rem;
    font-size: 3rem;
}

p,
a, 
li,
small {
     
	font-family: "Geologica", sans-serif;
	font-weight: 200;
	font-style: normal;
}


a {
   
    color: black;
    
   
}

/* Header */
header  {
    	position: sticky;
	top: 0;
	background-color: white;
	margin-bottom: 6vh;
}


.logo {
  
  width:50px;
 
 
  }

  
@media screen  and (max-width:420px){
    .logo, .site-nav{
        flex-direction: column;
    }
}

#browse {
    padding-left: 2rem;
}

@media screen  and (min-width:800px){
    #browse {
        padding-left: 5rem;
    }
}


  /* main */


.site-nav {
    display: flex;
  
}

.site-nav ul {
    list-style: none;
    padding-left:0;
    display: flex;
    flex-grow: 1;
   
}

.site-nav li {
    margin-left:3rem; 
    font-size: 22px;
    align-items:baseline;
}

.site.nav li:last-child{
    margin-left: auto;
    margin-right: 3vw;
}





.main-image{
    
    width:20%;
    
}

.products {
   width:90%;
        background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 margin-bottom: 1rem;


}





.shirts{
     
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
   
   

}
@media screen  and (min-width:800px){
    .shirts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
}
}


/* product specific page */
  .img {
     border: 2px solid black;
     display: block;
  margin: auto;
  width:60%
  
  }
  
  .box {
    display: block;
  margin: auto;
    height: 1600px;
    width: 1400px;
    background-color:whitesmoke;
  }
 .button{
     display: flex;
  justify-content: center;
  align-items: center;

  height:50px; 
  width:180px;
  background-color: aqua;
  border-radius: 20px;

  margin-left: 2rem;
  font-size: 20px;
 }
 .button a {
    text-decoration: none;
 }


  .kitheader{
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
  }



.specifications {
    font-size: 2rem;
    margin-left: 1rem;
}


/* footer */

footer {
    margin-top: 3 rem;
    border-top : 1px solid black;
    
 
}


 