body {
 margin: 1.5rem;
 
}

main {
    margin-bottom: 10rem;
}


/* text styles */


a {
   
    color: black;
    
   
}

/* Header */
.header {
   
}

.logo {
  
  width:50px;
  display: flex;
 
  }


.site-nav {
    display: flex;
    
}

.site-nav ul {
    list-style: none;
    padding-left:0;
    display: flex;
   
}

.site-nav li {
    margin-left:3rem; 
    font-size: 22px;
    align-items:baseline;
}



footer {
    margin-top: 3 rem;
    border-top : 1px solid black;

}

.main-image{
    
    width:20%
    
}