body {
 margin: 1.5rem;
 
}

main {
    margin-bottom: 10rem;
   
}


/* text styles */


a {
   
    color: black;
    
   
}

/* Header */


.logo {
  
  width:50px;
  display: flex;
 
  }

  
@media screen  and (max-width:420px){
    .logo, .site-nav{
        flex-direction: column;
    }
}

#browse {
    padding-left: 5rem;
}

@media screen  and (max-width:800px){
    #browse {
        padding-left: 2rem;
    }
}
  /* main */


.site-nav {
    display: flex;
    
}

.site-nav ul {
    list-style: none;
    padding-left:0;
    display: flex;
   
}

.site-nav li {
    margin-left:3rem; 
    font-size: 22px;
    align-items:baseline;
}





.main-image{
    
    width:20%;
    
}

.products {
   width:90%;
        background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 margin-bottom: 1rem;


}





.shirts{
     
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
   
   

}
@media screen  and (min-width:800px){
    .shirts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
}
}


/* footer */

footer {
    margin-top: 3 rem;
    border-top : 1px solid black;
    

}


 